
{% load staticfiles %}
<div class="modal fade" id="terminos">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <center><h2 class="modal-title" style="color: #2ae080;">Términos Y Condiciones</h2></center>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <p>
                        Términos y Condiciones de Uso de la Red Social
    Descargo de responsabilidad La Oficina de Asuntos Públicos de la Embajada de los Estados Unidos, Bogotá, Colombia produce y mantiene los sitios de redes sociales de la Misión de los Estados Unidos en Colombia.
    <br><br>
    Los enlaces a otros sitios de Internet no deben interpretarse como una aprobación de las opiniones contenidas en ellos.
    <br><br>
    La Embajada de los Estados Unidos en Bogotá:
    <br><br>
    Las opiniones expresadas en contenido de audio y video en los sitios de redes sociales de la Embajada de los Estados Unidos (por ejemplo, Facebook, Twitter, Instagram, YouTube) no son necesariamente representativas de las políticas o las opiniones del Gobierno de los Estados Unidos.
    <br><br>
    No controla ni garantiza la exactitud, relevancia, puntualidad o integridad de la información contenida en un sitio web vinculado.
    <br><br>
    No respalda a las organizaciones que patrocinan sitios web vinculados ni a las opiniones que expresan ni a los productos / servicios que ofrecen.
    <br><br>
    No puede y no autoriza el uso de materiales con derechos de autor contenidos en sitios web vinculados. Los usuarios deben solicitar dicha autorización al patrocinador del sitio web vinculado. No garantiza que los sitios web externos cumplan con la Sección 508 (Requisitos de Accesibilidad) de la Ley de Rehabilitación.
    <br><br>
    Política de redes sociales Esperamos que los participantes se traten con respeto. Eliminaremos los comentarios publicados que contengan lenguaje vulgar o abusivo; pornografía; ataques personales de cualquier tipo; términos ofensivos dirigidos a grupos étnicos o raciales específicos o inciten a la violencia. Eliminaremos los comentarios que sean spam, que estén claramente “fuera de tema” o que promocionen servicios o productos. Los comentarios que hagan acusaciones no corroboradas serán retirados de la discusión.
    <br><br>
    Se prohíbe el uso de lenguaje vulgar, ofensivo, amenazante o acosador.
    <br><br>
    El foro de discusión no está abierto a comentarios que promocionen o se opongan a cualquier persona que haga campaña para ser elegido para un cargo político o que promueva o se oponga a cualquier propuesta de voto. Los sitios de medios sociales de la Embajada de EE.UU. en Bogota no están abiertos a la promoción o publicidad de un negocio o una transacción comercial.
    <br><br>
    Esta política de uso de redes sociales está sujeta a correcciones o modificaciones en cualquier momento para garantizar que su uso continuo sea coherente con su propósito previsto.
                </p>
            <div>
        </div>
    </div>
</div>

